$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #f4f4f4;
$btn-color: #d2d1d1;
$text-color: #082565;
$accent: #f0f3ff;
$default-font: 'Helvetica';

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $default-font;
}

h1 {
  color: $text-color;
  float: left;
  font-family: $default-font;
}

h3 {
  display: inline;
  color: $text-color;
  font-family: $default-font;
}

.btn {
  background-color: $btn-color;
  color: $text-color;
  font-family: $default-font;
}

.user-forms {
  align-content: right;
  color: $text-color;
  float: right;
  font-family: $default-font;
  margin: 5px;
  padding: 5px;
  width: auto;
}

.user {
  color: $text-color;
  font-family: $default-font;
  margin: 5px;
}

.pose-forms {
  color: $text-color;
  display: block;
  float: left;
  font-family: $default-font;
  margin: 5px;
}

.content {
  clear: both;
  color: $text-color;
  display: block;
  font-family: $default-font;
  margin-top: 10px;
}

input {
  color: $text-color;
  font-family: $default-font;
}

#user-messages {
  display: block;
  clear: both;
}
